.summary-container {
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .summary-item {
    margin-bottom: 16px; /* Add more spacing between items */
    font-size: 20px; /* Make the text larger */
    font-weight: 400; /* Optional: Control font weight */
    color: #333; /* Text color */
  }
  
  .summary-item strong {
    font-size: 20px; /* Make the label text even larger */
    font-weight: 600; /* Bold labels */
    color: #000; /* Label color */
  }

  .common-button {
    padding: 10px 20px;
    min-width: 150px; /* Ensure all buttons have the same minimum width */
    text-align: center;
  }
  button:disabled {
    background-color: #B0BEC5; /* Gray background */
    color: #ECEFF1; /* Light text */
    cursor: not-allowed; /* Disabled cursor */
    opacity: 0.4; /* Optional: reduce opacity */
  }